name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1


      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '24'
          cache: 'pnpm'

      - run: |
          pnpm install
      - run: |
          pnpm run all
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install latest version with token
        uses: ./
        with:
          version: 'latest'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          args: '--version'
      - name: Install specific version with token
        uses: ./
        with:
          version: '1.4.4'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          args: '--version'
      - name: Install latest version without setting token
        uses: ./
        with:
          version: 'latest'
      - name: Install specific version without setting token
        uses: ./
        with:
          version: '1.4.4'
          args: '--version'
